body{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


h1{
    font-weight: normal;
    font-size:  50px;
    text-align: center;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content:space-around;
    padding: 100px;
}

.download-coming-soon{
    color: aquamarine;
    font-size: 16px;
}

.conteiner-travel-guide{
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    text-align: center;
}
img-travel-guide{
    width: 100%;
    height: auto;
}

h2{
    font-weight:300;
    font-size: 42px;
}
.conteiner-travel-guide p{
    color: gray;
    font-size: 21px;
}

.conteiner-dowload{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}